.image-grid {
    display: grid;
    background-color:  #f0f0f0;
    font-family:'Open Sans', sans-serif;
}



.project{
    font-size:32px;
    padding-left:20px;
    margin-left: 25px;
    font-family: 'Open Sans', sans-serif;
    border-left: 6px solid #c90505;
    

}
    

.image-row {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px; 
    justify-content: space-around;
   padding-right: 15px;
   padding-left: 15px;
   

  
}

.image-container {
    position: relative; 
    margin:10px 5px;
    border:5px double rgba(255, 255, 255, 0.6);
    border-radius: 5px;

}
   


.images {
    display: block; 
    max-width: 100%;
    
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center; 
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    color:#fff;
}